@charset "utf-8";

/*미디어 - 뉴스룸*/
.news .inner{padding-top: 120px; padding-bottom: 90px;}
.news .section01 .sec-title{font-size: 20px; font-weight: 700; margin-bottom: 36px;}
.cont-wrapper{position: relative; width: 100%; height: 100%;}
.cont-wrapper:after{position: absolute; content: ''; position: absolute; width: 100vw; height: 100%; top: 34px; left: 50%; transform: translateX(-50%); background: #f6f6f6;}
.news .swiper{width: 100%; height: 100%; overflow: hidden;}
.news .swiper-slide{width: 100%; font-size: 18px; display: flex; gap: 81px; align-items: flex-end;}
.news .swiper-slide img{display: block; width: 100%; height: 100%; object-fit: cover;}
.news .swiper-slide .swiper-con{flex: 1; display: flex; flex-direction: column; gap: 75px;}
.news .swiper-con .con-title{font-size: 32px; font-weight: 400; line-height: 32px; margin-bottom: 12px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.news .swiper-con .con-desc{font-size: 20px; font-weight: 400; line-height: 28px; color: #444444; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.news .swiper-con .con-date{font-size: 16px; color: #888888; font-weight: 400;}
.news .swiper-btn-wrap{position: absolute; bottom: -34px; right: 0; width: 101px; height: 50px;}
.news .swiper-button-prev,.news .swiper-container-rtl .swiper-button-next{width: 50px; height: 100%; background: #292929; left: 0; top: 0; margin-top: 0; transition: background 0.5s ease-in-out;}
.news .swiper-button-prev:after,.news .swiper-container-rtl .swiper-button-next:after{content: ''; width: 24px; height: 24px; background: url(../../images/common/fe_arrow-left.png) no-repeat center;}
.news .swiper-button-next,.news .swiper-container-rtl .swiper-button-prev{width: 50px; height: 100%; background: #292929; right: 0; top: 0; margin-top: 0; transition: background 0.5s ease-in-out;}
.news .swiper-button-next:after,.news .swiper-container-rtl .swiper-button-prev:after{content: ''; width: 24px; height: 24px; background: url(../../images/common/fe_arrow-right.png) no-repeat center;}
.news .swiper-button-prev:hover, .news .swiper-button-next:hover{background: #0fb5df;}
.news .swiper-button-disabled{background: #e8e8e8;}
.news .section02 .top-controller{padding-bottom: 14px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #cccccc;}
.news .section02 .top-controller ul{display: flex; gap: 38px;}
.news .top-controller ul li{font-size: 20px; line-height: 44px; color: #000; font-weight: 400;}
.news .top-controller ul li.active{color: #0FB5DF; font-weight: 700;}
.news .board-wrap .board li{border-bottom: 1px solid #cccccc; padding: 36px 0 28px;}
.news .board-wrap .board a{display: block; display: flex; justify-content: space-between; gap: 50px;}
.news .board-wrap .board .thumb-desc{flex: 1; max-width: 745px; display: flex; flex-direction: column; justify-content: space-between;}
.news .board-wrap .title{font-size: 32px; line-height: 44px; color: #000000; font-weight: 400; margin-bottom: 12px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.news .board-wrap .desc{font-size: 20px; line-height: 28px; color: #444444; font-weight: 400; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4;}
.news .board-wrap .date{font-size: 16px; line-height: 28px; color: #b1b1b1; font-weight: 400;}

/*뉴스룸 - 기사 자세히보기*/
.board-view{position: fixed; bottom: 0; left: 0; width: 100%; height: 100%; z-index: 10; overflow: hidden; overflow: hidden;  z-index: 10000; transform: translateY(100%); transition: transform 0.5s ease-out;}
.board-view.open{transform: translateY(0);}
.board-view-wrap{width: 100%; height: calc(100vh - 10vh); position: absolute; top: 10vh; left: 0; background: #fff; overflow: hidden; overflow-y: scroll;}
.board-view-wrap .board-top{padding: 50px 0 20px; text-align: center; position: fixed; width: 100%; left: 50%; max-width: 1280px; transform: translateX(-50%); background: #fff;}
.board-view-wrap .board-top:after{position: absolute; content: ''; width: 100vw; height: 1px; background: #cccccc; margin-left: calc(-50vw + 50%); bottom: 0; left: 0;}
.board-view-wrap .board-top .board-title{margin-bottom: 16px; font-weight: 700; font-size: 36px; line-height: 44px; color: #000; text-align: center; position: relative;}
.board-view-wrap .board-top .board-title p{max-width: 1000px; margin: 0 auto; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.board-view-wrap .board-top .board-date{color: #b1b1b1; font-size: 16px; line-height: 28px;} 
.board-view-wrap .board-content{max-width: 800px; margin: 0 auto; padding: 45px 0 110px; margin-top: 178px; font-size: 16px; line-height: 28px; color: #000; border-bottom: 1px solid #cccccc;}
.board-view-wrap .board-content .thumb-desc{color: #9d9d9d; font-weight: 500; line-height: 28px; margin-top: 11px} 
.board-view-wrap .btn-wrap{padding: 60px 0;}
/* .board-view-wrap .board-close{position: fixed; width: 60px; height: 60px; top: calc(10vh + 15px); right: 28px; box-sizing: border-box; background: url(../../images/common/close_icon.png) no-repeat center; cursor: pointer; z-index: 1;} */
.board-view-wrap .board-controller{position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: space-between; align-items: center;}
.board-view-wrap .board-controller .board-btn{font-weight: 700; line-height: 28px; font-size: 16px; position: relative; cursor: pointer;}
.board-view-wrap .board-controller .prev{padding-left: 33px;}
.board-view-wrap .board-controller .prev:after{position: absolute; content: ''; background: url(../../images/common/fe_arrow-leftB.png) no-repeat center; top: 50%; left: 0; width: 24px; height: 24px; transform: translateY(-50%);}
.board-view-wrap .board-controller .next{padding-right: 33px;}
.board-view-wrap .board-controller .next:after{position: absolute; content: ''; background: url(../../images/common/fe_arrow-rightB.png) no-repeat center; top: 50%; right: 0; width: 24px; height: 24px; transform: translateY(-50%);}



/*개인정보 처리방침*/
.privacy-policy{position: fixed; bottom: 0; left: 0; width: 100%; height: 100%; z-index: 10; overflow: hidden; overflow: hidden;  z-index: 10000; transform: translateY(100%); transition: transform 0.5s ease-out;}
.privacy-policy.open{transform: translateY(0);}
.privacy-policy-wrap{width: 100%; height: calc(100vh - 10vh); position: absolute; top: 10vh; left: 0; background: #fff; overflow: hidden; overflow-y: scroll;}
.modal .close-btn{position: fixed; width: 60px; height: 60px; top: calc(10vh + 15px); right: 28px; box-sizing: border-box; background: url(../../images/common/close_icon.png) no-repeat center; cursor: pointer; z-index: 1;}
.privacy-policy-inner{max-width: 800px; margin: 0 auto; padding: 114px 0 200px;}
.privacy-policy-inner .item + .item{margin-top: 80px;}
.privacy-policy-inner > .title{margin-bottom: 84px; font-weight: 700; font-size: 32px; text-align: center;}
.privacy-policy-inner .item .top-title{font-weight: 700; font-size: 20px; line-height: 28px; margin-bottom: 24px;}
.privacy-policy-inner .item .top-desc{font-weight: 500; line-height: 28px;}
.privacy-policy-inner .item .title{margin-bottom: 20px;  font-size: 20px; font-weight: 700;}
.privacy-policy-inner .item .desc{color: #444444; line-height: 28px;}
.privacy-policy-inner .item .box{margin-top: 28px; background: #f9f9f9; padding: 36px 40px; box-sizing: border-box; line-height: 28px;}
.privacy-policy-inner .item .dot_list li{position: relative; padding-left: 15px}
.privacy-policy-inner .item .dot_list li:after{content: ''; position: absolute; width: 5px; height: 5px; background: #444444; border-radius: 100%; left: 0; top: 0px; margin-top: 12px}

@media (max-width: 767px) {
  .privacy-policy-wrap{height: 100vh; top: 0;}
  .privacy-policy-inner{max-width: 100%; padding: 74px 5vw 100px;}
  .privacy-policy-inner > .title{font-size: 22px; margin-bottom: 44px;}
  .privacy-policy-inner .item .top-title{font-size: 18px; line-height: 26px; margin-bottom: 20px;}
  .privacy-policy-inner .item .title{font-size: 16px; margin-bottom: 10px;}
  .privacy-policy-inner .item .box{padding: 18px 20px;}
  .privacy-policy-inner .item + .item{margin-top: 50px}
}

/*이메일 무단수집 거부*/
.email-notice{position: fixed; bottom: 0; left: 0; width: 100%; height: 100%; z-index: 10; overflow: hidden; overflow: hidden;  z-index: 10000; transform: translateY(100%); transition: transform 0.5s ease-out;}
.email-notice.open{transform: translateY(0);}
.email-notice-wrap{width: 100%; height: calc(100vh - 10vh); position: absolute; top: 10vh; left: 0; background: #fff; overflow: hidden; overflow-y: scroll;}
.email-notice-inner{max-width: 800px; margin: 0 auto; padding: 114px 0 200px;}
.email-notice-inner > .title{margin-bottom: 84px; font-weight: 700; font-size: 32px; text-align: center;}
.email-notice-inner > .desc{font-weight: 500; font-size: 16px; line-height: 28px; margin-bottom: 80px;}
.email-notice-inner > .sub-title{font-weight: 700; font-size: 22px; margin-bottom: 44px;}
.email-notice-inner .item + .item{margin-top: 80px;}
.email-notice-inner .item .item-title{font-weight: 700; font-size: 20px; margin-bottom: 28px;}
.email-notice-inner .item .box{background: #f9f9f9; padding: 36px 40px; box-sizing: border-box; line-height: 28px;}

@media (max-width: 767px) {
  .email-notice-wrap{height: 100vh; top: 0;}
  .email-notice-inner{max-width: 100%; padding: 74px 5vw 100px;}
  .email-notice-inner > .title{font-size: 22px; margin-bottom: 44px;}
  .email-notice-inner > .sub-title{font-size: 18px;}
  .email-notice-inner .item .item-title{font-size: 16px; margin-bottom: 10px;}
  .email-notice-inner .item .box{padding: 18px 20px;}
  .email-notice-inner .item + .item{margin-top: 50px}
}


@media (max-width: 1400px) {
  .board-view-wrap .board-top{max-width: 100%; padding: 50px 5vw 20px;}
  .modal .close-btn{width: 30px; height: 30px; background-size: 80% auto;}
  .board-view-wrap .board-top .board-title p{max-width: 800px;}
}


@media (max-width: 1240px) {
  .news .swiper-slide{gap: 50px;}
  .news .swiper-slide .swiper-thumb{width: 50%;}
  .news .swiper-con .con-title{font-size: 26px; line-height: 26px;}
  .news .swiper-con .con-desc{font-size: 16px; line-height: 22px;}
  .news .top-controller ul li{font-size: 16px; line-height: 40px;}
  .news .board-wrap .title{font-size: 26px; line-height: 38px;}
  .news .board-wrap .desc{font-size: 16px; line-height: 24px;}
  .board-view-wrap .board-top .board-title p{max-width: 600px;}
  .board-view-wrap .board-top .board-title{font-size: 26px; line-height: 34px;}
}

@media (max-width: 1020px) {
  .board-view-wrap .board-top .board-title p{max-width: 400px;}
  .board-view-wrap .board-content{padding: 45px 5vw 110px;}
}

@media (max-width: 767px) {
  .news .inner{padding-top: 48px; padding-bottom: 24px;}
  .news .swiper-slide{flex-direction: column; align-items: center; gap: 24px;}
  .news .swiper-slide .swiper-thumb{width: 100%; left: 0; transform: unset;}
  .cont-wrapper:after{width: 100%; }
  .news .swiper-slide .swiper-con{padding: 0 16px;}
  .news .swiper-con .con-title{font-size: 18px; line-height: 22px; font-weight: 600; margin-bottom: 10px;}
  .news .swiper-con .con-desc{line-height: 20px; -webkit-line-clamp: 4;}
  .news .swiper-btn-wrap{width: 100%; bottom: auto; top: 50%; transform: translateY(-50%); z-index: 1;}
  .news .swiper-button-next, .news .swiper-container-rtl .swiper-button-prev{border-radius: 100%; background: #f0f0f0; margin-right: -25px;}
  .news .swiper-button-prev:after, .news .swiper-container-rtl .swiper-button-next:after{background: url(../../images/common/fe_arrow-left.png) no-repeat center;}
  .news .swiper-button-prev, .news .swiper-container-rtl .swiper-button-next{border-radius: 100%; background: #f0f0f0; margin-left: -25px;}
  .news .swiper-button-next:after, .news .swiper-container-rtl .swiper-button-prev:after{background: url(../../images/common/fe_arrow-right.png) no-repeat center;}

  .news .section02 .inner{padding-top: 25px;}
  .news .board-wrap .board .thumb-desc{gap: 15px;}
  .news .board-wrap .board li{padding: 16px 0 28px;}
  .news .board-wrap .title{font-weight: 600; font-size: 18px; line-height: 22px; margin-bottom: 15px;}
  .news .board-wrap .desc{font-size: 16px; line-height: 20px;}
  .controllerMo{position: relative;}
  .controllerMo:after{position: absolute; content: ''; width: 24px; height: 24px; right: 10px; top: 50%; transform: translateY(-50%) rotate(90deg); background: url(../../images/common/fe_arrow-rightB.png) no-repeat center;}
  .controllerMo select {width:100%; min-width: 100px; height: 44px; border: none; padding-left: 12px; color: #0fb5df; font-weight: 700; font-size: 15px;}
  .controllerMo select option{color: #000;}

  .board-view-wrap{height: 100vh; top: 0;}
  .modal .close-btn{top: 15px; width: 24px; height: 24px;}
  .board-view-wrap .board-controller{display: none;}
  .board-view-wrap .board-top{text-align: left;}
  .board-view-wrap .board-top .board-title{font-size: 18px; line-height: 22px; text-align: left;}
  .board-view-wrap .board-top .board-title p{max-width: 100%;}
  .board-view-wrap .board-content{margin-top: 156px; padding: 26px 5vw 88px}

}

/*고객의 소리*/
.customer .inner{padding-top: 120px; padding-bottom: 300px;}
.customer .form-wrap{max-width: 527px; margin: 0 auto; display: flex; flex-direction: column; gap: 12px;}
.customer .form-wrap .form-title{font-weight: 700; font-size: 30px; line-height: 44px; margin-bottom: 60px;}
.customer .form-wrap label{font-size: 18px; font-weight: 600; line-height: 44px; margin-bottom: 5px;}
.customer .form-wrap label span{display: inline-block; width: 24px; height: 24px; background: url(../../images/common/bul-must_icon.png) no-repeat center; vertical-align: middle; margin-left: 16px;}

.customer .privacy-agree-box{padding-top: 60px;}
.customer .privacy-agree-box .top > div{display: inline-block;}
.customer .privacy-agree-box .top label{font-size: 16px; color: #444444; font-weight: 500;}
.customer .btn-toggle { margin-top: 5px; display: inline-block; width: 55px; height: 55px; border-radius: 100%; font: 0/0 a; text-align: center;}
.customer .btn-toggle.toggle-text { width: auto; height: auto; margin: 0 0 0 9px; padding-bottom: 3px; position: relative;}
.customer .btn-toggle.toggle-text:before{position: absolute; content: ''; width: 20px; height: 30px; background: url(../../images/common/icon-agree-view.png) no-repeat center top; top: 50%; transform: translateY(-50%);}
.customer .btn-toggle.toggle-text:after { margin: 0 0 3px 25px; }
.customer .btn-toggle.toggle-text:hover { background-color: transparent; }
.customer .btn-toggle.toggle-text.on:before{position: absolute; content: ''; width: 20px; height: 30px; background: url(../../images/common/icon-agree-view-color.png) no-repeat center top;}
.customer .btn-toggle.toggle-text.on:after { margin-bottom: 0; }
.customer .privacy-agree-box .more-btn{display: inline-block;}
.customer .privacy-agree > p{font-size: 20px; letter-spacing: -0.03em; color: #323232; margin-bottom: 14px;}
.customer .privacy-agree{display: none; height: 100%; margin-top: 30px; background: #f8f8f8; border-radius: 8px; padding: 30px; box-sizing: border-box; overflow: auto; transition: all 0.5s ease-in-out;}
.customer .privacy-agree.on{display: block;}
.customer .privacy-agree p{color: #000000; font-size: 14px;}
.customer .privacy-agree li p:first-child{margin-bottom: 10px;}
.customer .privacy-agree li p:nth-child(2){margin-bottom: 20px;}
.customer .agree-btn-box{padding-left: 25px;}
.customer .agree{color: #4e4e4e; letter-spacing: -0.03em; padding-left: 36px; margin-bottom: 0;}
.customer .icheckbox[type=checkbox]{display: none;}
.customer .icheckbox[type=checkbox] + label {display: inline-block; background: url(../../images/common/icon-radio-check.png) no-repeat center left;}
.customer .btn-box{width: 100%; text-align: center;}
.customer .icheckbox[type=checkbox]:checked + label {background: url(../../images/common/icon-radio-check-color.png) no-repeat center left;}
.customer .submit-btn{padding: 5px 40px; background: #0FB5DF; color: #ffffff; font-size: 20px; font-weight: 600; line-height: 44px; border: 1px solid #0FB5DF; border-radius: 4px; box-sizing: border-box;; transition: background ease .4s;}
.customer .submit-btn:hover{background: #51C8E7;}
.customer .filebox .upload-name{display: block; height: 80px; width: 100%;}
.customer .filebox label{display: block; color: #000000; background-color: #ffffff; border: 1px solid #b0b0b0; cursor: pointer; height: 54px; border-radius: 8px; text-align: center; line-height: 54px; margin-bottom: 34px;}
.customer .filebox input[type="file"] {position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0;}
.customer .btn-wrap{margin-top: 53px;}

@media (max-width: 767px) {
  .customer .form-wrap .form-title{font-size: 18px; line-height: 22px; margin-bottom: 30px;}
  .customer .form-wrap label{font-size: 14px;}
  .customer .form-wrap label span{margin-left: 11px;}
  .customer .privacy-agree-box .more-btn{display: none;}
  .customer .privacy-agree{display: block;}
  .customer .icheckbox[type=checkbox] + label{line-height: 17px; font-size: 14px;}
  .customer .submit-btn{font-size: 14px; padding: 11px 20px; line-height: unset;}
}

/*고객의 소리 확인*/
.customer_confirm .content-wrap{max-width: 500px; margin: 0 auto; padding: 120px 0 300px}
.customer_confirm .content-wrap .title-wrap{margin-bottom: 62px;}
.customer_confirm .content-wrap .title{font-weight: 700; font-size: 30px; line-height: 44px; color: #000000;}
.customer_confirm .content-wrap .confirm-box-wrap{background: #f8f8f8; margin-bottom: 36px;}
.customer_confirm .content-wrap .confirm-box-wrap p{padding: 20px; font-size: 18px; line-height: 21px;}
.customer_confirm .content-wrap .confirm-box-wrap p .mailAdd{font-weight: 700;}

@media (max-width: 767px) {
  .customer_confirm .content-wrap .title-wrap{margin-bottom: 30px;}
  .customer_confirm .content-wrap .title{font-size: 18px; line-height: 22px;}
  .customer_confirm .content-wrap .confirm-box-wrap p{line-height: 35px;}
  .customer_confirm .content-wrap .confirm-box-wrap p .mailAdd{display: block;}
}


.company01 .section01{padding: 120px 0 160px}
.company01 .section01 .inner{max-width: 1600px;}
.company01 .section01 .title-wrap{margin-bottom: 127px;}
.company01 .section01 .title-wrap .title{font-weight: 700; font-size: 32px; line-height: 46px;}
.company01 .section01 .content ul{display:  flex; gap: 20px 100px; padding-bottom: 46px; border-bottom: 1px solid #cccccc; flex-wrap: wrap;}
.company01 .section01 .content ul li{font-weight: 700; letter-spacing: -0.02em; line-height: 33px; font-size: 26px;}
.company01 .section01 .content ul li span{display: block; color: #626262; line-height: 20px; font-weight: 600; margin-bottom: 10px; font-size: 16px;}

.txt-motion { position: relative; width: 100%; height: 100%; overflow: hidden; }
.txt-motion .img-wrap { position: absolute; width: 100%; min-height: 100vh; min-height: calc(var(--vh, 1vh) * 100); overflow: hidden; background-size: cover; background-position: center; background-repeat: no-repeat; background-image: url(../../images/sub/company01_txtBG.png);}
.txt-motion .title-wrap{color: #a1a1a1; opacity: 0; transform: translateY(25%); max-width: 1600px; margin: 270px auto 32px;}
.txt-motion .title-wrap p{font-size: 40px; line-height: 52px; font-weight: 700;}
.txt-motion .sub-title {opacity: 0; color: #a1a1a1; font-weight: 700; font-size: 24px; line-height: 36px; letter-spacing: -0.015em; transform: translateY(25%); max-width: 1600px; margin: 0 auto;}
.txt-motion .sub-title span {display: block; word-break: keep-all;}

.txt-motion { height: 100vh; height: calc(var(--vh, 1vh) * 100);}


/* .space-hub .sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

.space-hub .vision {
  height: auto;
}

.space-hub .vision .challenge .bg img{width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%;}

.space-hub .vision .challenge {
  position: relative;
  height: 3000px;
  -margin-top: -100vh;
  -margin-bottom: -100vh;
}

.space-hub .vision .challenge .sticky {
  overflow: hidden
}

.space-hub .vision .challenge .ment {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: calc(100% - 80px);
  font-size: 40px;
  font-weight: 300;
  line-height: 64px;
  white-space: nowrap;
  transform: translate(-50%,-50%);


}
.space-hub .vision .challenge .ment span {color: #fff;
font-family: Noto Sans CJK KR;
font-size: 32px;
font-style: normal;
font-weight: 700;
letter-spacing: -0.52px;}
.font-hh {color:#48CB6D;}
.space-hub .vision .challenge .ment span:not(:first-child) {
  opacity:.2
}

.space-hub .vision .challenge .ment.mobile {
  display: none
}


@media (max-width: 1440px) {
  .space-hub .vision .intro h3 {
      font-size:60px;
      line-height: 66px
  }

  .space-hub .vision .challenge .ment {
      font-size: 34px;
      line-height: 54px
  }
}

@media (max-width: 1023px) {
  .space-hub .vision .intro h2 {
      font-size:90px;
      line-height: 105px
  }

  .space-hub .vision .intro h3,main.space-hub .vision .intro p {
      font-size: 30px;
      line-height: 48px
  }

  .space-hub .vision .challenge .ment {
      font-size: 24px;
      line-height: 40px
  }
}

@media (max-width: 767px) {
  .space-hub .vision .intro h2 {
      font-size:40px;
      line-height: 56px
  }

  .space-hub .vision .intro h3,main.space-hub .vision .intro p {
      font-size: 20px;
      line-height: 32px
  }

  .space-hub .vision .challenge .ment {
      max-width: calc(100% - 32px);
      font-size: 17px;
      line-height: 28px
  }

  .space-hub .vision .challenge .ment.mobile {
      display: block
  }

  .space-hub .vision .challenge .ment:not(.mobile) {
      display: none
  }
} */

/*기업소개 - 개요*/
.company01 .section03 {padding-bottom: 300px;}
.company01 .section03 .section-title-wrap{max-width: 1600px; margin: 0 auto; padding: 160px 0 187px;}
.company01 .section03 .title{margin-bottom: 36px; font-weight: 700; font-size: 40px; line-height: 52px;}
.company01 .section03 .desc{font-weight: 500; line-height: 30px; font-size:  20px; letter-spacing: -0.015em; color: #333333}
.company01 .section03 .slide-thumb{margin-bottom: 46px}
.company01 .section03 .slide-title{font-weight: 700; font-size: 28px; line-height: 33px;}
.company01 .section03 .slide-desc{line-height: 30px; letter-spacing: -0.015em; font-size: 20px; color: #333333;}

.company01 .section03 .slide-desc li{position: relative; padding-left: 15px; color: #444444; letter-spacing: -0.02em; line-height: 24px;}
.company01 .section03 .slide-desc li:after{position: absolute; content: ''; width: 5px; height: 5px; background: #444444; left: 0; top: 10px; border-radius: 50%;}
.project-slide .swiper-scrollbar {background: #d6d6d6;}
.project-slide .swiper-button-prev, .project-slide .swiper-container-rtl .swiper-button-next{background-image: url(../../images/common/fe_arrow-leftB.png); left: 60px;}
.project-slide .swiper-button-next, .project-slide .swiper-container-rtl .swiper-button-prev{background-image: url(../../images/common/fe_arrow-rightB.png); right: 0px;}
.project-slide .swiper-button-prev,.project-slide .swiper-button-next{width: 24px; height: 24px; top: auto; bottom: 0;}
.project-slide.swiper-container-horizontal .swiper-scrollbar {height: 2px; width: 338px; left: 104px; top: 50%; transform: translateY(-50%);}
.project-slide .swiper-controller{position: absolute; bottom: 24px; right: 0; width: 100%; max-width: 485px; height: 29px;}
.project-slide .swiper-scrollbar-drag{background: #000000;}
.project-slide .swiper-button-next:after,.project-slide .swiper-container-rtl .swiper-button-prev:after{content: none;}
.project-slide .swiper-button-prev:after,.project-slide .swiper-container-rtl .swiper-button-next:after{content: none}
.project-slide .swiper-pagination{width: 40px; bottom: 0; font-weight: 700;}
.project-slide .slide-desc-wrap{display: flex; gap: 50px; opacity: 0; transform: translateY(25%); transition: opacity 0.3s ease-in, transform 0.3s ease-in; transition-delay: 0.3s;}
.project-slide .swiper-slide-active .slide-desc-wrap{transform: translateY(0); opacity: 1;}

@media (max-width: 1700px) {
  .company01 .section01 .inner{max-width: 1280px;}
  .txt-motion .title-wrap{max-width: 1280px;}
  .txt-motion .sub-title{max-width: 1280px;}
  .company01 .section03 .section-title-wrap{max-width: 1280px;}
}

@media (max-width: 1300px) {
  .txt-motion .title-wrap{width: 100%; padding: 0 5vw;}
  .txt-motion .sub-title{width: 100%; padding: 0 5vw;}
  .company01 .section01 .title-wrap .title{font-size: 28px; line-height: 42px;}
  .company01 .section01 .content ul li{font-size: 22px; line-height: 28px;}
  .company01 .section01 .content ul li span{font-size: 16px;}
  .company01 .section01 .content ul{gap: 20px 50px}
  .txt-motion .title-wrap p{font-size: 32px; line-height: 44px;}
  .txt-motion .sub-title{font-size: 18px; line-height: 30px;}
  .company01 .section03 .section-title-wrap{width: 100%; padding: 160px 5vw 100px;}
  .project-slide  .swiper-controller{max-width: 285px;}
  .project-slide .swiper-container-horizontal .swiper-scrollbar{width: 138px}
  .company01 .section03 .title{font-size: 32px; line-height: 44px;}
  .company01 .section03 .slide-title{font-size: 22px; line-height: 27px;}

}

@media (max-width: 1024px) {
  .company01 .section03 .slide-desc-wrap{flex-direction: column; gap: 20px}
}

@media (max-width: 767px) {
  .company01 .section01{padding: 48px 0 65px}
  .company01 .section01 .title-wrap{margin-bottom: 40px;}
  .company01 .section01 .title-wrap .title{font-size: 18px; line-height: 24px;}
  .company01 .section01 .content ul{gap: 32px 36px; padding-bottom: 0; border-bottom: 0;}
  .company01 .section01 .content ul li{font-size: 16px; line-height: 20px;}
  .company01 .section01 .content ul li span{font-size: 14px; line-height: 17px; margin-bottom: 8px;}
  .txt-motion .title-wrap{color: #fffffF; margin: 122px auto 34px;}
  .txt-motion .sub-title{color: #ffffff}
  .company01 .txt-motion .img-wrap{background-position: 75%;}
  .company01 .section03 .section-title-wrap{padding: 43px 5vw 32px}
  .company01 .section03 .title{font-size: 20px; line-height: 28px; margin-bottom: 12px;}
  .company01 .section03 .desc{font-size: 16px; line-height: 26px; color: #666666;}
  .company01 .section03 .slide-thumb{margin-bottom: 74px;}
  .project-slide .swiper-controller{max-width: 100%; bottom: 110px;}
  .project-slide .swiper-container-horizontal .swiper-scrollbar{width: calc(100% - 148px)}
  .txt-motion .title-wrap p{font-size: 22px; line-height: 32px;}
  .txt-motion .sub-title{font-size: 16px; line-height: 24px;}
  .txt-motion .sub-title span{display: inline;}
  .company01 .section03{padding-bottom: 180px;}
  .company01 .section03 .slide-desc-wrap{gap: 8px;}
  .company01 .section03 .slide-title{font-size: 18px;}
  .company01 .section03 .slide-desc{font-size: 16px; line-height: 26px;}
}

@media (max-width: 400px) {
  .company01 .section03 .title br{display: none;}
  .company01 .section03 .desc br{display: none;}
}

/*기업소개 - 인사말*/
.company02 .section01{padding: 125px 0 300px;}
.company02 .content-wrap{display: flex; gap: 83px;}
.company02 .content-wrap > div{flex: 1;}
.company02 .content-wrap .ceo-desc p:first-child{font-size: 36px; line-height: 46px; margin-bottom: 100px;}
.company02 .content-wrap .ceo-desc p:nth-child(2){font-size: 20px; line-height: 32px; margin-bottom: 83px;}
.company02 .ceo-signiture{font-weight: 700; font-size: 32px; line-height: 46px;}
.company02 .ceo-signiture span{display: block; font-weight: 600; font-size: 20px; line-height: 46px;}

@media (max-width: 1300px) {
  .company02 .content-wrap .ceo-desc p:first-child{font-size: 28px; line-height:  40px; margin-bottom: 50px;}
  .company02 .content-wrap .ceo-desc p:nth-child(2){font-size: 18px; line-height: 30px;}
  .company02 .ceo-signiture{font-size: 26px; line-height: 40px;}
  .company02 .ceo-signiture span{font-size: 16px; line-height: 40px;}
}

@media (max-width: 1024px) {
  .company02 .content-wrap{gap: 50px}
  .company02 .content-wrap .ceo-desc p:first-child{font-size: 24px; line-height: 36px;}
  .company02 .content-wrap .ceo-desc p:nth-child(2){font-size: 16px; line-height: 28px;}
  .company02 .ceo-signiture{font-size: 22px; line-height: 36px;}
  .company02 .ceo-signiture span{font-size: 16px; line-height: 36px;}
}

@media (max-width: 767px) {
  .company02 .section01{padding: 48px 0 180px;}
  .company02 .section01 .section-title{font-size: 18px; line-height: 22px;}
  .company02 .content-wrap{flex-direction: column; gap: 28px}
  .company02 .content-wrap .ceo-desc p:nth-child(2){line-height: 26px; color: #666666; margin-bottom: 60px;}
  .company02 .ceo-signiture{font-size: 20px;}
}

.company03 .section01{padding: 50px 0 300px;}
.company03 .section01 .item{display: flex; width: 100%; justify-content: space-between; padding-top: 70px; padding-bottom: 120px; border-bottom: 1px solid #cccccc;}
.company03 .section01 .item-title{font-weight: 700; font-size: 32px; line-height: 46px;}
.company03 .section01 .item-desc{min-width: 700px; max-width: 700px; font-weight: 700; font-size: 40px; line-height: 52px;}
.company03 .section01 .item03{padding-bottom: 0; border-bottom: 0;}
.company03 .section01 .item-slide{max-width: 1200px; min-width: 1200px; margin-top: 126px;}
.company03 .section01 .slide-thumb{margin-bottom: 46px;}
.company03 .section01 .slide-title{font-size: 28px; line-height: 33px; font-weight: 700;}
.company03 .section01 .slide-desc{font-size: 20px; line-height: 30px; letter-spacing: -0.015em; line-height: 30px;}
.company03 .section01 .swiper-controller{bottom: 0;}